.interest-preference {
    width: 220px;
    font-size: 12px;

    .interest-header {
        display: flex;

        &>:first-child {
            margin-right: 40px;
        }

        &>div {
            color: #282828;
            width: 100px;
            padding-left: 4px;

            .delete-icon {
                margin-left: 64px;
            }
        }
    }

    .ant-transfer-list {
        width: 100px;
    }

    .ant-transfer-list-content-item {
        font-size: 12px;
        color: #282828;
    }
}