.standard-population {
    margin: 0px auto;
    padding: 20px;
    background: #f8f9fb;
    width: 300px;

    .step-after {
        font-size: 12px;
        background: #fff;
        margin-top: 8px;
        width: 60px;
        height: 22px;
        line-height: 22px;
        text-align: center;
        border-radius: 1px;
        border: 1px solid rgba(211, 211, 211, 1);
    }

    .ant-form-item-label {
        text-align: left;
    }
}