.over-selected-show{
    height: 127px;
    overflow-y: auto;
}
.over-selected-box{
    display: inline-block;
    background: #F0E5FF;
    color: #4B00A7;
    height: 26px;
    line-height: 26px;
    border-radius:4px;
    padding: 0px 6px;
    margin: 6px;
}
.check-box-group{
    display: flex;
    flex-wrap: wrap;
}
.checkbox-item{
    width: 90px;
}
.ant-checkbox-wrapper + .ant-checkbox-wrapper{
    margin: 0px;
}
.day-header{
    display: flex;
}
.day-item{
    height: 34px;
    padding-bottom: 8px;
    margin-right: 22px;
    border-bottom: 2px solid rgba(248,249,251,1);
}
.day-item-active{
    border-bottom: 2px solid #7300FF;
}
.day-item:hover{
    border-bottom: 2px solid #7300FF;
}



.collapse-panel{
    background:#F8F9FB;
    padding: 0px 12px;
}

.header-box{
    height: 30px;
    display: flex;
    justify-content: space-between;
}
.fold-show{
    height: auto;
}

.fold-hide{
    height: 0;
    overflow: hidden; 
    transition: all .3s ease;
}